.card_content {
  width: 100%;
  margin-right: 15px;
}

.card_header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .card_header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card_info {
    align-items: flex-start;
    text-align: left;
  }
}
