.hotel_description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.hotel_description p {
  text-indent: 20px;
  text-align: justify;
}

.hotel_description h4 {
  margin-top: 15px;
  margin-bottom: -10px;
  font-size: 1.15rem;
}
