.header {
  background-color: #003b95;
  padding: 30px 20px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 700px;
}

.header,
.navLinks {
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.header h1 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #fff;
  text-indent: 15px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 175px;
}

.user p:first-child {
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
}

.user p:nth-child(2) {
  color: #ffb700;
  font-size: 0.85em;
  font-weight: 400;
}

.user:hover {
  cursor: pointer;
}

.user_avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #ffb700;
}

.navLinks {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: absolute;
  z-index: 1010;
  color: #fff;
  background-color: #5a5a5a;
  left: 80%;
  margin-top: -25px;
}

.navLinks li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navLinks li:hover {
  background-color: #dedede;
  border-radius: 0.5rem;
}

.navLinks li span {
  color: #ffb700;
  text-decoration: none;
  font-weight: 300;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .navLinks {
    display: flex;
    background-color: #fff;
    color: #ffb700;
    font-weight: 400;
    border-radius: 0.5rem;
  }

  .navLinks li {
    min-width: 150px;
    padding: 0.35rem 1.5rem;
    background-color: none;
  }
}
