.search_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: var(--secondary_color);
  width: 400px;
  height: 40px;
  position: relative;
  z-index: 1020;
  margin-top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  gap: 5px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
