.container {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  margin: 0 15vw;
  color: var();
}

.container h1:first-child {
  margin-top: 20px;
  font-weight: 800;
  font-size: 2rem;
  color: var(--primary_text_color);
}
